* {
    font-family: Helvetica;
    color: black;

}

.grid-container{
 border-width: 1px;
 border-style: solid;
 border-color: black;
 margin: 50px;
 padding: 30px;
}
.grid-item{
  border-bottom: 1px solid black;
}

img {
  float:right;
	width: 200px;
	height: 160px;
}
h1{
  text-align: center;
}
ul, li {
  margin-left:20;
  padding-left:20;
}
h2{
  background-color: #B2F1CC;
}
